.countriesPage {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 300px;
    background-color: var(--background-secondary);
    padding: 1rem;
    overflow-y: auto;
  }
  
  .backButton {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: var(--link-color);
    color: var(--background);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .backButton:hover {
    background-color: var(--background);
    color: var(--link-color);
    border: 1px solid var(--link-color);
  }
  
  .searchBar {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid var(--foreground);
    border-radius: 5px;
    background-color: var(--background);
    color: var(--foreground);
  }
  
  .countryList {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .countryFlag{
    width: 600px;
  }
  
  .countryItem {
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
    color: var(--foreground);
  }
  
  .countryItem:hover {
    background-color: var(--link-color);
    color: var(--background);
  }
  
  .main {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
    background-color: var(--background);
    color: var(--foreground);
  }
  
  .countryDetails {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 2fr;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: var(--background-secondary);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .countryName {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
  }
  
  .countryFlag {
    width: 100%;
    height: auto;
    max-width: 700px;
    margin: 0 auto;
    border: 2px solid var(--foreground);
    border-radius: 5px;
  }
  
  .countryInfo {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    font-size: 1.1rem;
    text-align: center;
    align-items: center;
  }
  
  .countryInfo p {
    margin: 5px 0;
    color: var(--foreground);
  }

  .authorityList{
    margin: 5px 0;
    color: var(--foreground);
  }
  
  .authorityList {
    margin: 5px 0;
    color: var(--foreground);
    display: grid;
    gap: 15px;
  }
  
  .authorityItem {
    background-color: var(--background);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .authorityItem h3 {
    font-size: 1.2rem;
    color: var(--highlight);
    margin: 0;
    text-align: center;
  }
  
  .authorityItem p {
    font-size: 1rem;
    margin: 5px 0;
    color: var(--foreground);
    text-align: center;
  }
  
  .authorityItem p strong {
    font-weight: bold;
  }
  
  .authorityList li {
    list-style-type: none;
  }
  
  .activeCountryItem {
    background-color: var(--link-color);
    color: var(--background);
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
  
.regionSelector {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid var(--foreground);
    border-radius: 5px;
    background-color: var(--background);
    color: var(--foreground);
    display: flex;
    flex-direction: column;
  }
  
  .regionOption {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    cursor: pointer;
    font-size: 12px;
    color: var(--foreground);
  }
  
  .regionOption input[type="checkbox"] {
    margin-right: 0.5rem;
    transform: scale(1.2);
  }

  .regionTitle{
    color: var(--foreground);
    padding: 5px;
    font-size: 14px;
  }
  
  .regionOption input[type="checkbox"]:checked {
    background-color: var(--link-color);
  }
  