:root {
  --background: #E6F4EA;
  --background-secondary: #e2fdea;
  --foreground: #001742;
  --link-color: #1c8d3a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #001742;
    --background-secondary: #001336;
    --foreground: #FFFFFF;
    --link-color: #FFE600; 
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}



/* Not found estilização */
.notFoundContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: var(--background);
  color: var(--foreground);
  padding: 20px;
}

.notFoundContainer h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.notFoundContainer p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.notFoundLink {
  font-size: 1.2rem;
  color: var(--link-color);
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.notFoundLink:hover {
  color: var(--foreground);
}
/* Fim da estilização do not found */